/* General architecture */
*{
  font-family: 'Montserrat', sans-serif;
}
.box{
  text-align: center;
}
img {
  max-width: 100%;
}

/* grapics header */
header img {
padding-top: 23.5px;
padding-bottom: 23.5px;
}
header li {
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 13px;
  padding-right: 15px;
}
header li:last-child {
  padding-right: 0px;
}
/* bigbanner */
.bigbanner {
  height: 550px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.bigbanner h2 {
  color: white;
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
}
.bigbanner h3 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.bigbanner img {
  padding-top: 20px;
}
/* product square */
.grey {
  background-color: #fafafa;
  margin-top: 50px;
  margin-bottom: 50px;
}
.productimg {
  width: 200px;
  max-width: 350px;
}
.grey h2 {
  padding-top: 50px;
  padding-bottom: 25px;
}
.grey h3 {
  padding-bottom: 25px;
  font-weight: 300;
}
.link a {
  text-decoration: none;

}
/* 2ndbigimage */
.secondimage {
  background-image: url(../img/helbiz-banner.jpg);
  height: 400px;
  background-size: cover;
  margin-bottom: 350px;
}
.secondimage img {
  padding-top: 100px;
}
.secondimage h2 {
  color: black;
  position: relative;
  top: 500px;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  padding-left: 130px;
}
.secondimage h3,h6 {
  color: black;
  position: relative;
  top: 530px;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  padding-left: 100px;
}
/* terzaparte */
.terzabigfoto {
  background-image: url(../img/scooter-bg.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
}
.terzabigfoto h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
}

.terzabigfoto h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: 300;
}
.terzabigfoto .link {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: 300;
}
.terzabigfoto a {
  color: white;
  font-weight: 400;
}
